.sidebar{
    position: fixed;
    top: 0;
    bottom: 0; 
    height: 100%;
    width: 260px;
    background:rgb(1, 1, 43);
    z-index: 100;
    transition: all 0.5s ease;
    
}

.sidebar  li{
    list-style-type: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: xx-large;
             
}

.options h3{
color: white;
font-weight: 600;
margin-top: 20px;
}
.loout{
    margin-top: 30pc;
    text-align: right;   
}
.loout button{
    font-size: x-large;
    font-weight: 800;
    border-radius: 20px;
    background-color: rgb(218, 172, 180);
    border: none;
}
.loout button:hover{
    background-color:#ff9100ef;
    color: white;
}




