.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 230px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar  li{
    list-style-type: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: xx-large;
    color: white;    
}

.options{
    color: aliceblue;
    list-style-type: none;
}


