.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    
    height: 100%;
    width: 260px;
    background: #160d75;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar  li{
    list-style-type: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: xx-large;
       
}

.options{
    
    list-style-type: none;
}
link{
    color: white;
}


