table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    background-color: #e6e6ff; /* light purple */
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
  }
  