table {
    border-collapse: collapse;
    width: 100%;
  }
  .cohort-page-container {
  background-color: rgb(18, 18, 37);
  padding: 16px;
}
  tr {
    background-color: #e6e6ff;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
<<<<<<< HEAD:src/components/Cohorts/Cohort.css
    background-color: #fbfdfb;
    color: rgb(5, 5, 5);
    text-align: center;
=======
    background-color: #362e66;
    color: white;
>>>>>>> c4ebd70 (Creates a clients pathway both for the student and andmin):src/components/Cohort.css
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
<<<<<<< HEAD:src/components/Cohorts/Cohort.css
    background-color: #6e7f6e97;
    color: rgb(6, 6, 6);
=======
    background-color: #5b4caf;
    color: white;
>>>>>>> c4ebd70 (Creates a clients pathway both for the student and andmin):src/components/Cohort.css
    border: none;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
  }
  