table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    background-color: #e6e6ff;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #fbfdfb;
    color: rgb(5, 5, 5);
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #6e7f6e97;
    color: rgb(6, 6, 6);
    border: none;
    padding: 10px 20px;
    text-align: right;
    right: 0;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .h1-button {
    position: fixed;
    top: 50px;
    right: 0;
    text-align: right;
    margin-right: 20px;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
  }
  