/* CohortForm.css */

/* Main container for the form */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  height: 80vh;
  background-color: rgb(17, 17, 36); 
}

/* Container for the form */
.form-container {
  padding: 80px;
  background-color: white; 
  border-radius: 5px;
}

/* Header container */
.header-container {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

/* Form input fields */
form label {
  display: block;
  margin-bottom: 11px;
  color: #fff;
  text-align: center; /* Center align the labels */
}

form input[type="text"],
form input[type="email"],
form select {
  width: 38%;
  padding: 6px;
  margin-block: 5px;
  margin-bottom: 10px;
  margin-left: auto; /* Center align the input fields */
  margin-right: auto; /* Center align the input fields */
}

/* Form buttons */
form button {
  background-color: rgb(67, 67, 70); /* Set background color to darkblue */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form button[type="submit"] {
  margin-top: 10px;
}
